/* all margin set to 0 so we don't get any extra margin  */
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* extra margin and padding are counted inside width-> border included inside width */
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}





/* NavBar  */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* 1st Box of Navbar */
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url('./Photos/amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;
    /* The background image is resized to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}






/* 2nd Box of Navbar */

/* .nav-address{
    height: 50px;
    width: 88.64px;;
} */

.add-icon {
    display: flex;
    align-items: center;
}

.add-first {
    color: #CCCCCC;
    font-size: 0.85rem;
    /* according to root font size all fonts gets resize, 1rem means 1 times the root font-size. -> for responsive*/
    margin-left: 15px;
}

.add-second {
    margin-left: 3px;
}








/* 3rd Box of Navbar */

.nav-search {
    display: flex;
    background-color: pink;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.nav-search:hover {
    border: 2px solid orange; 
}

.search-select {
    background-color: #F3F3F3;
    width: 51px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    /* select have its own border. so this statement will remove that border.*/
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.Search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}




/* 5th Box */
.nav-signing{
    height: 50;
    width: 131.53;
}

.box-5-flex-container{
    display: flex;
}
.small-txt{
    font-size: 0.8rem;
}

.box-5-select{
    width: 8;
    height: 4;
}
.nav-second{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}




/* 7th Box */

.nav-cart i{
    font-size: 35px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}